{% extends "base.html" %}

{% block title %}Vehiculos{% endblock title %}

{% block content %}
<h3>Lista de vehiculos</h3>
{% if vehiculos %}
	<ul>
	{% for c in vehiculos %}
		<li><a href="{% url 'inspecciones:listavehiculos'%}">{{ c.nombre }}</a>
		{% if request.user.is_staff %}
		<small><a href="{% url 'inspecciones:editarvehiculo' c.id %}">Editar</a></small>
		<form style="display:inline" action="{% url 'inspecciones:eliminarvehiculo' %}" method="POST">
			{% csrf_token %}
			<input type="hidden" value="{{ c.id }}" name="id">
			<button onclick="return confirm('Desea eliminar este vehiculo?');" type="submit">Eliminar</button>
		</form>
		{% endif %}
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No existe ningun vehiculo.</p>
{% endif %}
{% if request.user.is_staff %}
	<small><a href="{% url 'inspecciones:nuevovehiculo' %}">Añadir vehiculo</a></small>
{% endif %}
{% endblock content %}