<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Inspecciones{% endblock %}</title>
</head>
<body>

<div class="container">
<ul>
	<li><a href="{%url 'inspecciones:listacentros'%}">Lista de centros</a></li>

	<li><a href="{%url 'inspecciones:listavehiculos'%}">Lista de vehiculos</a></li>

	<li><a href="{%url 'inspecciones:nuevainspeccion'%}">Nueva inspeccion</a></li>



	{%if user.is_anonymous%}

	<li><a href="{%url 'inspecciones:login'%}">Login</a></li>

	{%else%}

	<li>Bienvenido {{user.username}}</li>

	<li><a href="{%url 'inspecciones:logout'%}?next=/">Logout</a></li>

	{%endif%}
</ul>
	{% block content %}{% endblock content %}
</div>
</body>
</html>